<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

<appSettings>
<add key="LiteDataBasePath" value="F:\C#学习程序\WeavingSocketServerWPF\WeavingSocketServerWPF\bin\Debug\MyUnityGame.db" />
<add key="TemplatePATH" value="Template" />
</appSettings>

</configuration>